#brand-logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #0091bd;
}

.btn-info {
    font-weight: bold;
    background-color: white;
    color: #0091bd;
    border: 2px solid #0091bd;
}

.btn-info:hover {
    background-color: #0091bd;
    font-weight: bold;
    color: white;
    border: 2px solid ;
}

.btn-info {
    color: #fff;
    background-color: #0091bd;
    border-color: #187692;
}
  
.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #0091bd;
  border-color: #0091bd;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
  
.text-content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-justify: auto;
}

.green-text {
    color: #0091bd;
}

.bg-info {
  background-color: #0091bd !important;
}

.border-info {
  border-color: #0091bd !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: #0091bd !important;
}

.nav-margin {
    margin-top: 80px;
}
.card-content, .last-card-content {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    
}
.card-content:hover {
    color: #0091bd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.jumbotron-light {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}